body {
    background: rgb(70, 51, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 157, 206);
    margin: 0;
    padding: 0;
}

header{
    background: black;
    padding: 20px;
    text-align: center;
}

section{
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
}

header .logo a {
    background-color: red;
    display: inline-block;
    height: 80px;
    width: 300px;
    text-indent: -999999px;
    background-image: url("images/thing\ night.PNG");
    background-size: 300px;
    height: 150px;
    position: relative;
    top: -20px;
    background-repeat: no-repeat;
}

div{
    background: red;
    width: 100px;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin-right: 20px;
}

footer{
    background: black;
    padding: 10px 20px;
}